<form method="post" action="{{ path('departamento_delete', {'id': departamento.id}) }}" onsubmit="return confirm('Você tem certeza que deseja excluir este item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ departamento.id) }}">
    <button class="btn btn-danger">Excluir</button>
</form>
