<nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-3">
<div class="container">
  <a href="/" class="navbar-brand">GerenMov</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobile-nav">
    <span class="navbar-toggle-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="mobile-nav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a href="/movimentos" class="nav-link">Movimentações</a>
      </li>
      <li>
        <a href="/funcionario" class="nav-link">Funcionários</a>
      </li>
      <li>
        <a href="/departamento" class="nav-link">Departamentos</a>
      </li>        
    </ul>
  </div>
</div>
</nav>